*{
	margin:0;padding:0;
}
a{
	text-decoration:none;
}
b,i{
	font-weight:normal;
}
img{
	vertical-align: middle;
}
li{
	list-style: none;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}